:root {
  --font-size: 30px;
}
* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1d2122ff;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  transition: all 0.3s ease;
}
a:hover .arrow {
  transform: translateX(10px);
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
}

.card {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.card img {
  display: block;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.card p {
  font-size: var(--font-size);
  font-weight: 600;
  color: #797979ff;
}
.about {
  grid-column: span 2;
  grid-row: span 2;
}
.location {
  text-align: center;
}

.location p {
  color: white;
  font-size: 25px;
}

.join-list {
  grid-column: span 3;
}

.join-list label {
  color: white;
  font-size: 18px;
}

.join-list input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background: transparent;
  flex-grow: 1;
  padding: 10px;
  color: white;
}

.join-list > div {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.join-list button {
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    scale: 1.05;
    transform: translateY(-1px);
  }
}

.social {
  background: red;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  min-height: 60px;
  max-width: 100%;
}

.turn-left:hover {
  transform: rotate(5deg);
  scale: 1.05;
}

.turn-right:hover {
  transform: rotate(-5deg);
  scale: 1.05;
}

.description {
  grid-column: span 4;
  font-size: var(--font-size);
  font-weight: 600;
  color: #797979ff;
}

@media screen and (max-width: 700px) {
  :root {
    --font-size: 25px;
  }
  .social {
    grid-column: span 2;
  }
  .about {
    grid-column: span 4;
  }
  .description {
  }

  .location {
    grid-column: span 4;
  }
  .join-list {
    grid-column: span 4;
  }
}
