:root {
  --font-size: 30px;
}
* {
  font-family: Poppins;
}
body {
  background: #1d2122ff;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow {
  transition: all 0.3s ease;
}
a:hover .arrow {
  transform: translateX(10px);
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.card {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.card img {
  display: block;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.card p {
  font-size: var(--font-size);
  font-weight: 600;
  color: #797979ff;
}
.about {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (max-width: 700px) {
  :root {
    --font-size: 25px;
  }
  .social {
    grid-column: span 2;
  }
  .about {
    grid-column: span 4;
  }
  .description {
  }
}
.social {
  background: red;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  min-height: 60px;
}

.turn-left:hover {
  transform: rotate(5deg);
  scale: 1.05;
}

.turn-right:hover {
  transform: rotate(-5deg);
  scale: 1.05;
}

.description {
  grid-column: span 4;
  font-size: var(--font-size);
  font-weight: 600;
  color: #797979ff;
}
